/**
 * @author  Geoffray Warnants <gwarnants [at] gmail.com>
 * @website http://geoffray.be
 * @created 2012-07-28
 */

#gameboy {
    width:340px;
    height:570px;
    margin:0 auto;
}
#gameboy .cl {
    clear:left;
    width:0;
    height:0;
}
#gameboy-top {
    width:100%;
    height:36px;
}
#gameboy-top > div:nth-child(1) {
    float:left;
    width:30px;
    height:30px;
    background-color:#DBDBDB;
    border-top-left-radius:16px;
    box-shadow:inset 4px 4px 4px #BFBFBF;
}
#gameboy-top div:nth-child(2) {
    float:left;
    width:6px;
    height:27px;
    margin-top:3px;
    background:#b2b2b2;
    background:-moz-linear-gradient(left, #B2B2B2 0%, #C6C6C6 51%, #B2B2B2 100%);
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,#B2B2B2), color-stop(51%,#C6C6C6), color-stop(100%,#B2B2B2));
    background:-webkit-linear-gradient(left, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:-o-linear-gradient(left, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:-ms-linear-gradient(left, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:linear-gradient(to right, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
}
#gameboy-top div:nth-child(3) {
    float:left;
    width:268px;
    height:30px;
    background-color:#DBDBDB;
    box-shadow:inset 0 4px 4px #BFBFBF;
}
#gameboy-top div:nth-child(4) {
    float:left;
    width:6px;
    height:27px;
    margin-top:3px;
    background:#B2B2B2;
    background:-moz-linear-gradient(left, #B2B2B2 0%, #C6C6C6 51%, #B2B2B2 100%);
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,#B2B2B2), color-stop(51%,#C6C6C6), color-stop(100%,#B2B2B2));
    background:-webkit-linear-gradient(left, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:-o-linear-gradient(left, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:-ms-linear-gradient(left, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:linear-gradient(to right, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
}
#gameboy-top div:nth-child(5) {
    float:left;
    width:30px;
    height:30px;
    background-color:#DBDBDB;
    border-top-right-radius:16px;
    box-shadow:inset -4px 4px 4px #BFBFBF;
}
#gameboy-top div:nth-child(6) {
    width:334px;
    height:6px;
    margin-left:3px;
    background:#B2B2B2;
    background:-moz-linear-gradient(top, #B2B2B2 0%, #C6C6C6 51%, #B2B2B2 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#B2B2B2), color-stop(51%,#C6C6C6), color-stop(100%,#B2B2B2));
    background:-webkit-linear-gradient(top, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:-o-linear-gradient(top, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:-ms-linear-gradient(top, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
    background:linear-gradient(to bottom, #B2B2B2 0%,#C6C6C6 51%,#B2B2B2 100%);
}
#gameboy-top-onoff {
    width:76px;
    margin:8px 0 0 8px;
    border-radius:8px;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    color: #DBDBDB;
    box-shadow:1px 1px 2px #AAA;
    text-align:center;
    text-shadow:0 0 2px #AAA;
}
#gameboy-bottom {
    border-radius:0 0 70px 16px;
    border-top:1px solid #BFBFBF;   /* without that border a but appear with child div margin-top */
    height:536px;
    box-shadow:inset 4px -4px 4px #BFBFBF, inset -4px -4px 4px #BFBFBF;
    background:#DBDBDB;
    background:-moz-linear-gradient(-45deg,  #DBDBDB 0%, #DBDBDB 32%, #ededed 61%, #DBDBDB 75%, #DBDBDB 88%, #A5A5A5 97%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#DBDBDB), color-stop(32%,#DBDBDB), color-stop(61%,#ededed), color-stop(75%,#DBDBDB), color-stop(88%,#DBDBDB), color-stop(97%,#A5A5A5));
    background:-webkit-linear-gradient(-45deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
    background:-o-linear-gradient(-45deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
    background:-ms-linear-gradient(-45deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
    background:linear-gradient(135deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
}
#gameboy-screen-border {
    width:287px;
    height:206px;
    background-color:#817C8D;
    margin:18px 0 0 27px;
    border-radius:16px 16px 56px 16px;
    color:#ABA8B1;
    font-size:8px;
    font-family:Arial;
    box-shadow:-2px -2px 1px #686868, 1px 2px 0 #848484;
}
#gameboy-screen-border-text div:nth-child(1) {
    float:left;
    width:76px;
    height:4px;
    margin:10px 0 0 15px;
    border-top:2px solid #970C55;
    border-bottom:2px solid #230081;
}
#gameboy-screen-border-text div:nth-child(2) {
    float:left;
    margin:8px 0 0 4px;
}
#gameboy-screen-border-text div:nth-child(3) {
    float:left;
    width:38px;
    height:4px;
    margin:10px 0 0 7px;
    border-top:2px solid #970C55;
    border-bottom:2px solid #230081;
}
#gameboy-screen-border-battery {
    float:left;
    width:52px;
    height:158px;
}
#gameboy-screen-border-battery div:nth-child(1) {
    width:8px;
    height:8px;
    margin:58px 0 0 18px;
    border-radius:4px;
    background:#CF0404;
    background:-moz-radial-gradient(center, ellipse cover,  #CF0404 0%, #890D0D 100%);
    background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#CF0404), color-stop(100%,#890D0D));
    background:-webkit-radial-gradient(center, ellipse cover,  #CF0404 0%,#890D0D 100%);
    background:-o-radial-gradient(center, ellipse cover,  #CF0404 0%,#890D0D 100%);
    background:-ms-radial-gradient(center, ellipse cover,  #CF0404 0%,#890D0D 100%);
    background:radial-gradient(ellipse at center,  #CF0404 0%,#890D0D 100%);
    box-shadow:2px -3px 6px #F45353,-2px 2px 5px #F45353;
}
#gameboy-screen-border-battery div:nth-child(2) {
    margin:6px 0 0 9px;
}
#gameboy-screen {
    width:170px;
    height:153px;
    margin:6px 0 0 54px;
    padding:8px 0 0 8px;
    background-color:#C4CFA1;
    box-shadow:inset 2px -2px 5px #636B48, inset -2px 2px 5px #636B48;
}
#gameboy-brand i {
    margin-left:3px;
    font-size:23px;
    font-weight:normal;
}
#gameboy-brand {
    margin:6px 0 0 24px;
    color:#230081;
    font-size:16px;
    font-weight:bold;
    font-family:Tahoma;
}
#gameboy-paddle {
    float:left;
    margin-top:34px;
}
#gameboy-paddle > div:nth-child(1) {
    width:30px;
    height:26px;
    margin-left:58px;
    border-top:1px solid #323232;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    background-color:#323232;
}
#gameboy-paddle > div:nth-child(2) {
    float:left;
    height:30px;
    width:26px;
    margin-left:32px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    background-color:#323232;
}
#gameboy-paddle > div:nth-child(3) {
    float:left;
    width:30px;
    height:30px;
    background-color:#323232;
}
#gameboy-paddle > div:nth-child(4) {
    float:left;
    width:26px;
    height:30px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    background-color:#323232;
}
#gameboy-paddle > div:nth-child(6) { /* 5th child is the clear left ! */
    width:30px;
    height:26px;
    margin-left:58px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top:1px solid #323232;
    background-color:#323232;
}
#gameboy-paddle > div:nth-child(3) div {
    width:18px;
    height:18px;
    margin:6px 0 0 6px;
    border-radius:9px;
    box-shadow:inset 0 -1px 1px #7C7C7C;
    background-color:#272727;
}
#gameboy-paddle > div:nth-child(1) div, #gameboy-paddle > div:nth-child(6) div {
    width:20px;
    height:4px;
    margin:3px 0 0 5px;
    border-radius:2px;
    box-shadow:inset 0 -1px 1px #7C7C7C;
    background-color:#242424;
}
#gameboy-paddle > div:nth-child(2) div, #gameboy-paddle > div:nth-child(4) div{
    float:left;
    width:4px;
    height:20px;
    background-color:#242424;
    margin:5px 0 0 3px;
    border-radius:2px;
    box-shadow:inset 0 -1px 1px #7C7C7C;
}
#gameboy-buttons {
    float:left;
    margin:46px 0 0 82px;
    color:#230081;
    font-weight:bold;
    font-family:Tahoma;
    font-size:15px;
    -moz-transform:rotate(324deg);
    -webkit-transform:rotate(324deg);
}
#gameboy-buttons span:nth-child(2) {
    margin-left:30px;
}
#gameboy-buttons span:nth-child(3) {
    margin-left:54px;
}
#gameboy-buttons-inset {
    margin-bottom:5px;
    padding:7px;
    border-radius:28px;
    background:#F7F7F7;
    background:-moz-linear-gradient(-45deg, #F7F7F7 0%, #BCBCBC 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#F7F7F7), color-stop(100%,#BCBCBC));
    background:-webkit-linear-gradient(-45deg, #F7F7F7 0%,#BCBCBC 100%);
    background:-o-linear-gradient(-45deg, #F7F7F7 0%,#BCBCBC 100%);
    background:-ms-linear-gradient(-45deg, #F7F7F7 0%,#BCBCBC 100%);
    background:linear-gradient(135deg, #F7F7F7 0%,#BCBCBC 100%);
}
#gameboy-buttons-inset > div:nth-child(1) {
    float:left;
    width:42px;
    height:42px;
    border-radius:20px;
    background-color:#99004F;
    box-shadow: inset 2px -2px 2px #BFBFBF, inset -3px 3px 2px #6A053B;
}
#gameboy-buttons-inset > div:nth-child(2) {
    float:left;
    width:42px;
    height:42px;
    margin-left:27px;
    border-radius:20px;
    background-color:#99004F;
    box-shadow:inset 2px -2px 2px #BFBFBF, inset -3px 3px 2px #6A053B;
}
#gameboy-startpause {
    width:200px;
    height:60px;
    margin:44px 0 0 100px;
    color:#230081;
    font-weight:bold;
    font-family:Tahoma;
    font-size:11px;
}
#gameboy-startpause >div {
    float:left;
    -moz-transform:rotate(324deg);
    -webkit-transform:rotate(324deg);
}
#gameboy-startpause >div:nth-child(2) {
    margin-left:16px;
}
#gameboy-startpause >div>div {
    width:44px;
    height:10px;
    margin-bottom:4px;
    background-color:#807B8C;
    border-radius:5px;
    box-shadow:inset 2px -2px 2px #BFBFBF, inset -2px 2px 2px #000;
}
#gameboy-speaker {
    position:absolute;
    margin:40px 0 0 215px;
    -moz-transform:rotate(324deg);
    -webkit-transform:rotate(324deg);
}
#gameboy-speaker div {
    float:left;
    width:7px;
    height:70px;
    margin:5px 6px 0 6px;
    border-radius:4px;
    background-color:#C8C8C8;
    box-shadow:inset 2px -2px 2px #898989;
}
#gameboy-phones {
    width:76px;
    margin:20px 0 0 98px;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    color: #DBDBDB;
    border-radius:8px;
    box-shadow:inset -1px -1px 2px #AAA, inset 1px 0 2px #AAA;
    text-align:center;
    text-shadow: 0 0 2px #AAA;
}
