/*
 * Screen stylesheet for HTML 5 Mobile Gameboy.
 *
 * Author: @gabrielrcouto
 * Version: 1, 22 july 2013
 *
 * Based on Geoffray original version. Thank you Geoffray!
 *
 * @author  Geoffray Warnants <gwarnants [at] gmail.com>
 * @website http://geoffray.be
 * @created 2012-07-28
 */

div {
    -webkit-user-select: none;
}

#game {
    width:340px; 
    height: 306px;
    background: #000000;
}

#gameboy {
    width:340px;
    margin:0 auto;
}

#gameboy .cl {
    clear:left;
    width:0;
    height:0;
}

#gameboy-bottom {
    border-top:1px solid #BFBFBF;   /* without that border a but appear with child div margin-top */
    height:536px;
    box-shadow:inset 4px -4px 4px #BFBFBF, inset -4px -4px 4px #BFBFBF;
    background:#DBDBDB;
    background:-moz-linear-gradient(-45deg,  #DBDBDB 0%, #DBDBDB 32%, #ededed 61%, #DBDBDB 75%, #DBDBDB 88%, #A5A5A5 97%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#DBDBDB), color-stop(32%,#DBDBDB), color-stop(61%,#ededed), color-stop(75%,#DBDBDB), color-stop(88%,#DBDBDB), color-stop(97%,#A5A5A5));
    background:-webkit-linear-gradient(-45deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
    background:-o-linear-gradient(-45deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
    background:-ms-linear-gradient(-45deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
    background:linear-gradient(135deg,  #DBDBDB 0%,#DBDBDB 32%,#ededed 61%,#DBDBDB 75%,#DBDBDB 88%,#A5A5A5 97%);
}

#gameboy-paddle {
    float:left;
    margin-top:34px;
}

/* up */
#gameboy-paddle > div:nth-child(1) {
    width:40px;
    height:36px;
    margin-left:68px;
    border-top:1px solid #323232;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    background-color:#323232;
}

#gameboy-paddle > div:nth-child(2) {
    float:left;
    height:40px;
    width:36px;
    margin-left:32px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    background-color:#323232;
}

#gameboy-paddle > div:nth-child(3) {
    float:left;
    width:40px;
    height:40px;
    background-color:#323232;
}

#gameboy-paddle > div:nth-child(4) {
    float:left;
    width:36px;
    height:40px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    background-color:#323232;
}

/* down */
#gameboy-paddle > div:nth-child(6) { /* 5th child is the clear left ! */
    width:40px;
    height:26px;
    padding-top: 10px;
    margin-left:68px;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-top:1px solid #323232;
    background-color:#323232;
}

#gameboy-paddle > div:nth-child(1):hover, #gameboy-paddle > div:nth-child(2):hover,
#gameboy-paddle > div:nth-child(4):hover, #gameboy-paddle > div:nth-child(6):hover {
    background-color: #272727;
}

#gameboy-paddle > div:nth-child(3) div {
    width:18px;
    height:18px;
    margin:10px 0 0 11px;
    border-radius:9px;
    box-shadow:inset 0 -1px 1px #7C7C7C;
    background-color:#272727;
}

#gameboy-paddle > div:nth-child(1) div, #gameboy-paddle > div:nth-child(6) div {
    width:30px;
    height:4px;
    margin:3px 0 0 5px;
    border-radius:2px;
    box-shadow:inset 0 -1px 1px #7C7C7C;
    background-color:#242424;
}

#gameboy-paddle > div:nth-child(2) div, #gameboy-paddle > div:nth-child(4) div {
    float:left;
    width:4px;
    height:30px;
    background-color:#242424;
    margin:5px 0 0 3px;
    border-radius:2px;
    box-shadow:inset 0 -1px 1px #7C7C7C;
}

#gameboy-paddle > div:nth-child(4) div {
    float: right;
    margin-left: 0px;
    margin-right: 3px;
}

#gameboy-buttons {
    float:left;
    margin:46px 0 0 52px;
    color:#230081;
    font-weight:bold;
    font-family:Tahoma;
    font-size:15px;
    -moz-transform:rotate(324deg);
    -webkit-transform:rotate(324deg);
}

#gameboy-buttons span:nth-child(2) {
    margin-left:30px;
}

#gameboy-buttons span:nth-child(3) {
    margin-left:54px;
}

#gameboy-buttons-inset {
    margin-bottom:5px;
    padding:7px;
    border-radius:28px;
    background:#F7F7F7;
    background:-moz-linear-gradient(-45deg, #F7F7F7 0%, #BCBCBC 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#F7F7F7), color-stop(100%,#BCBCBC));
    background:-webkit-linear-gradient(-45deg, #F7F7F7 0%,#BCBCBC 100%);
    background:-o-linear-gradient(-45deg, #F7F7F7 0%,#BCBCBC 100%);
    background:-ms-linear-gradient(-45deg, #F7F7F7 0%,#BCBCBC 100%);
    background:linear-gradient(135deg, #F7F7F7 0%,#BCBCBC 100%);
}

#gameboy-buttons-inset > div:nth-child(1) {
    float:left;
    width:42px;
    height:42px;
    border-radius:20px;
    background-color:#99004F;
    box-shadow: inset 2px -2px 2px #BFBFBF, inset -3px 3px 2px #6A053B;
}

#gameboy-buttons-inset > div:nth-child(2) {
    float:left;
    width:42px;
    height:42px;
    margin-left:27px;
    border-radius:20px;
    background-color:#99004F;
    box-shadow:inset 2px -2px 2px #BFBFBF, inset -3px 3px 2px #6A053B;
}

#gameboy-buttons-inset > div:nth-child(1):hover, #gameboy-buttons-inset > div:nth-child(2):hover {
    background-color: #6A053B;
}

#gameboy-startpause {
    width:200px;
    height:60px;
    margin:34px 0 0 100px;
    color:#230081;
    font-weight:bold;
    font-family:Tahoma;
    font-size:11px;
}

#gameboy-startpause > div {
    float:left;
    -moz-transform:rotate(324deg);
    -webkit-transform:rotate(324deg);
}

#gameboy-startpause > div:nth-child(2) {
    margin-left:16px;
}

#gameboy-startpause > div > div {
    width:44px;
    height:10px;
    margin-bottom:4px;
    background-color:#807B8C;
    border-radius:5px;
    box-shadow:inset 2px -2px 2px #BFBFBF, inset -2px 2px 2px #000;
}

#gameboy-startpause > div > div:hover {
    background-color: #000000;
}
